<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Image</title>

    <link rel="preconnect" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/mystyle.css">
</head>
<body>
    
    <div class="container p-4">
        <div class="row">            
                <div class="col-sm-6 offset-md-3">                    
                    <div class="card animate__fadeInDown">
                        <!-- <img src="<%= image.path %>" alt="" class="card-img-top"> -->
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <p class="card-text"><%= image.description %></p>
                            <p class="card-text"><%= format(image.create_at) %></p>
                            <div class="d-grid gap-2">
                                <a href="/" class="btn btn-block btn-success">Volver</a>    
                                <a href="/image/<%= image._id %>/delete" class="btn btn-block btn-danger">Borrar</a>    
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/all.min.js"></script>
</body>
</html>